<!DOCTYPE html>
<html lang="pt-br">

{% include "core/partials/head.html" %}

<body>
    
    {% include "core/partials/header.html" %}

    {% include "core/partials/search.html" %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="post post-list-item">
                <div class="post-cover">
                    <img src="https://placehold.co/1280x720/lightblue/white" alt="Temporario">
                </div>
                <div class="post-main-container">
                    <div class="post-author">
                        <span class="post-author-item">
                            <i class="fas fa-user"></i>
                            Otávio Miranda
                        </span>
                        <span class="post-author-item">
                            <i class="fas fa-calendar-alt"></i>
                            16/10/2021 às 11:21
                        </span>
                    </div>
                    <div class="post-title-container">
                        <h2 class="post-title">
                            Lorem ipsum dolor sit amet.
                        </h2>
                    </div>

                    <div class="post-content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi.
                            Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus
                            aliquam in!</p>
                    </div>

                    <div class="post-button">
                        <button> Ver Mais</button>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <!-- Inicio dos Scripts -->
    <script>
        // Obtém os elementos pelo ID
        const profileBtn = document.getElementById('profile-btn');
        const profileDropdown = document.getElementById('profile-dropdown');

        // Adiciona um "ouvinte" de eventos para o clique no botão
        profileBtn.addEventListener('click', () => {
        // Alterna a classe 'visible' para mostrar/esconder o menu
        profileDropdown.classList.toggle('visible');
        profileDropdown.classList.toggle('hidden');
        });

        // Opcional: Fecha o menu se o usuário clicar fora dele
        document.addEventListener('click', (event) => {
        if (!profileDropdown.contains(event.target) && !profileBtn.contains(event.target)) {
            // Se o clique não foi no menu nem no botão, esconde o menu
            profileDropdown.classList.remove('visible');
            profileDropdown.classList.add('hidden');
        }
        });
    </script>
    <!-- Fim dos Scripts -->
</body>
</html>


