<div class="post post-list-item">
    <div class="post-cover">
        <img src="https://placehold.co/1280x720/lightblue/white" alt="Temporario">
    </div>
    <div class="post-main-container">
        <div class="post-author">
            <span class="post-author-item">
                <i class="fas fa-user"></i>
                Otávio Miranda
            </span>
            <span class="post-author-item">
                <i class="fas fa-calendar-alt"></i>
                16/10/2021 às 11:21
            </span>
        </div>
        <div class="post-title-container">
            <h2 class="post-title">
                Lorem ipsum dolor sit amet.
            </h2>
        </div>

        <div class="post-content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi.
                Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus
                aliquam in!</p>
        </div>

        <footer class="post-footer">
            <a class="post-read-more button button-dark button-full-width" href="/">
                <i class="fas fas-eye"></i>
                <span> Ver mais... </span>
            </a>
        </footer>
        
    </div>
</div>